 



<style>
  body {
    background-color: rgba(6, 136, 197, 0.447);
    color: rgb(202, 9, 144);
  }

  div {
    text-align: center;
    color: blueviolet;
  }

  div.container {
    text-align: center;
    padding: 20px;
    margin: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: blue;
  }
</style>